In [8]:
import pandas as pd
import requests
pd.set_option('display.max_rows',500)

In [9]:
df = pd.read_excel('Canada.xls')

In [10]:
df.head()

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [11]:
API_key = 'API_Key'

In [12]:
df1=df['Postcode']+[' ']+df['Borough']
result=pd.DataFrame()

for i in df1:
    url = 'https://maps.googleapis.com/maps/api/geocode/json?key={}&address={}'.format(API_key,i)
    response = requests.get(url).json() # get response
    a=pd.DataFrame.from_dict([response['results'][0]['geometry']['location']])
    result=result.append(a)
result=result.reset_index(drop=True)
result.head(10)

         lat        lng
0  43.753259 -79.329656
1  43.725882 -79.315572
2  43.654260 -79.360636
3  43.654260 -79.360636
4  43.718518 -79.464763
5  43.718518 -79.464763
6  43.662843 -79.389638
7  43.667856 -79.532242
8  43.806686 -79.194353
9  43.806686 -79.194353

In [13]:
df=df.join(result)
df.head(10)

  Postcode           Borough      Neighborhood        lat        lng
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M5A  Downtown Toronto       Regent Park  43.654260 -79.360636
4      M6A        North York  Lawrence Heights  43.718518 -79.464763
5      M6A        North York    Lawrence Manor  43.718518 -79.464763
6      M7A      Queen's Park      Not assigned  43.662843 -79.389638
7      M9A         Etobicoke  Islington Avenue  43.667856 -79.532242
8      M1B       Scarborough             Rouge  43.806686 -79.194353
9      M1B       Scarborough           Malvern  43.806686 -79.194353

In [27]:
# Get data only for
df = df[df['Borough'].str.contains('Toronto', regex=False)].reset_index(drop=True)

In [31]:
#df.filter(like = 'St. James Town')
df = df[df['Neighborhood'] != 'St. James Town']

In [32]:
df.shape

(72, 5)

In [34]:
df.to_excel('Canlat.xls')